* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    overflow-x: hidden;
    font-family: 'Quicksand';
}


header div {
    background-color: #FEF7F0;
    padding: 15px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1500px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    /* position: fixed; */
    /* padding: 40px; */
}

.responsive_icon {
    display: none;
}

.responsive_navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    padding: 30px 0;
    /* height: 100vh; */
    max-width: 1500px;
}

.responsive_navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 30px;
    font-family: 'Quicksand';
}

#nav_mobile {
    display: none;
}

.responsive_navbar button {
    background-color: #ED614A;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ED614A;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 30px;
}

nav a:hover {
    color: #ED614A;
}

nav button {
    background-color: #ED614A;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ED614A;

}

.demo_button {
    margin-top: 30px;
}

.demo_button button:first-child,
.grid_container button,
.grid_container_operation button,
.button {
    padding: 25px 35px;
    color: white;
    background: #4C3648;
    border-radius: 6px;
    border: 1px solid #4C3648;
    font-size: 15px;
}

.demo_button button:last-child {
    padding: 25px 35px;
    border-radius: 6px;
    border: 1px solid #4C3648;
    font-size: 15px;
    margin-left: 40px;
}

.banner {
    background-color: #FCF3E8;
    max-width: 100%;
    width: 100%;
}

.grid_container,
.grid_container_type,
.grid_container_potencial,
.grid_container_operation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin: 0 auto;
    max-width: 1500px;
    align-items: center;
    padding: 100px 0;
    gap: 50px;
}

.grid_container span,
.grid_container_operation span,
.grid_container_type span,
.grid_container_potencial span {
    margin-top: 20px;
    vertical-align: text-bottom;
}

.grid_container h1,
.grid_container_type h1,
.Delight_Customer h1,
.grid_container_operation h1,
.grid_container_potencial h1 .Fuel_Your_Restaurant h1 {
    font-size: 50px;
}

.grid_container p,
.grid_container_type p,
.grid_container_potencial p,
.grid_container_operation p,
.grid_container_operation p {
    color: #a8a6a7;
    line-height: 1.5em;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 15px;
}

.grid_container h1 span,
.Delight_Customer h1 span,
.grid_container_potencial h1 span,
.Fuel_Your_Restaurant h1 span {
    color: #F18773;
}

.Mobile_img {
    width: 60%;
    height: auto;
}

.overlay_left_img {
    position: absolute;
    right: 30%;
    bottom: 25%;
    width: 20%;
    /* max-width: 300px; */
    height: auto;
    z-index: 0;
}

.overlay_right_img {
    position: absolute;
    right: 10%;
    bottom: 15%;
    width: 14%;
    /* max-width: 200px; */
    height: auto;
    z-index: 0;
    border-radius: 10px;
}

.overlay_icon_img {
    position: absolute;
    top: 25%;
    width: 15%;
    max-width: 80px;
    height: auto;
    z-index: 0;
    border-radius: 12px;
}

.material-symbols-outlined {
    font-size: 30px;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24,
        'font-sze' 30;
}


/* page 2 */

.Order_option {
    background: #FEF7F0;
    max-width: 100%;
    /* width: 100%; */
    font-family: 'Ubuntu', sans-serif;
}

#myimg {
    height: 500px;
}

.selection_list {
    border: 1px solid #F2ECEC;
    border-radius: 8px;
    padding: 30px;
    margin: 20px 0;
    background: #F2ECEC;
}

.selection_list:hover {
    cursor: pointer;
    /* transition-delay: 2s; */
    background: #ED614A;
}

/* page 4 */
.potencial_integration_section {
    max-width: 100%;
    /* width: 100%; */
    background: #4C3648;
}

.grid_container_potencial h2 {
    color: white;
    line-height: 1.8em;
    margin-top: 20px;
    font-size: 25px;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.section h2 {
    margin: 15px 0;
}

.section h2 span,
.section span {
    margin-right: 10px;
    color: #ED614A;
    font-size: 45px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}



/* page 5 */

.Restaurant_Operation {
    max-width: 100%;
    /* width: 100%; */
    font-family: 'Ubuntu', sans-serif;
    background: #FEF7F0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.container div {
    background-color: white;
    padding: 0px 20px 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.section h3 {
    color: rgb(44, 43, 43);
}

.section h2 {
    margin-top: 0;
}

/* page 6 */
.Fuel_Your_Restaurant {
    width: 100%;
    max-width: 100%;
}

.Fuel_Your_Restaurant p {
    font-size: 30px;
    margin-top: 10px;
}

.digit div {
    padding: 40px;
    border-radius: 20px;
}

.digit div:nth-child(1) {
    background: #FEF1ED;
}

.digit div:nth-child(2) {
    background: #E9F3F9;
}

.digit div:nth-child(3) {
    background: #FAF4FF;
}

.digit div:nth-child(4) {
    background: #FEFBE4
}

/* page 3 */

.Delight_Customer {
    max-width: 100%;
}

.Delight_Customer h1 {
    text-align: center;
}

.grid_container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin: 10px 0; */
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
    padding: 100px 0;
}

.grid_container2 h2 {
    font-size: 36px;
}

.grid_container2 div {
    border: 1px solid black;
    height: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 40px;
}

.grid_container2 div:nth-child(1) {
    background: #FAEAC8;
    border: 1px solid #FAEAC8;
    background-image: url(./img/stroke.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center;
}

.grid_container2 div:nth-child(2) {
    background: #634961;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    border: 1px solid #634961;
    background-image: url(./img/Burger.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-size: 100% 85%;
}

.grid_container2 div:nth-child(3) {
    background: #C4DFC9;
    border: 1px solid #C4DFC9;
    background-image: url(./img/Coin.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-size: 70% 80%;
}

.grid_container2 div:nth-child(4) {
    border: 1px solid #A2E1F0;
    background-image: url(./img/blue_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-size: 100% 100%; */
}

.grid_container2 div:nth-child(5) {
    grid-column: span 2;
    background: #FF6854;
    color: white;
    border: 1px solid #FF6854;
    background-image: url(./img/line.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 80% 80%;
    background-position: center;
}

.grid_container2 p {
    font-size: 18px;
}

/* second last */
.youtube_video {
    height: 100%;
    max-width: 100%;
    margin: 40px auto;
    align-items: center;
    text-align: center;
}

.youtube_video iframe {
    max-width: 1500px;
    height: 800px;
    width: 100%;
}

.video h1 {
    text-align: center;
    padding-top: 50px;
    color: #392137
}

.video p {
    text-align: center;
    font-size: 20px;
}



/* last page */

.main_div {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -100px;
}

.main_div div:first-child {
    background-color: #ff6854;
    background-image: url(./img/line.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 40px;
    padding: 30px;
    position: relative;
    margin: 0;
    max-width: 1500px;
    width: 80%;
}

.title {
    text-transform: capitalize;
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 1.5;
    color: white;
}

.Solution {
    max-width: 100%;
    background-color: #442a3e;
    background-image: url(./img/Wave_shape.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-position: center;
}

.footer_top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 1500px;
    align-items: center;
    padding: 200px 50px;
    color: white;
    gap: 100px;
    font-size: 22px;
}

.payment {
    display: flex;
    gap: 12px;
    margin-top: 32px;
}

.footer-menu-title {
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 30px;
    display: block;
}

.solutions {
    margin-left: 20px;
}

.footer-link {
    color: white;
    margin-bottom: 8px;
    font-weight: 400;
    text-decoration: none;
    transition: all .2s;
    display: block;
}

/* footer */

footer {
    max-width: 100%;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 12px 0;
    max-width: 1400px;
    margin: 0 auto;
}

.icon {
    color: rgb(85, 85, 85);
    font-size: 25px;
}

.icon:hover {
    cursor: pointer;
    color: black;
}

                        /* Media Queries For All Pages */

@media screen and (max-width: 1608px) {

    .grid_container,
    .grid_container_potencial {
        max-width: 1200px;
    }

    header nav {
        max-width: 1200px;
    }

    .grid_container_operation,
    .digit {
        max-width: 1200px;
    }

    .youtube_video {
        max-width: 1100px;
    }
}

/* @media screen and (max-width: 1284px) {

    .grid_container_potencial,
    .grid_container_operation,
    .digit,
    .youtube_video {
        max-width: 1100px;
    }
} */


@media screen and (max-width: 1240px) {
    .grid_container_potencial,
    .grid_container_operation,
    .digit,
    .youtube_video {
        max-width: 1100px;
    }

    .first {
        grid-template-columns: 1fr;
        max-width: 1000px;
        align-items: center;
        text-align: center;
    }

    header nav {
        max-width: 1000px;
    }

    nav a {
        margin-right: 15px;
    }

    .first div:last-child {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .Mobile_img {
        width: 30%;
        height: auto;
    }


    .overlay_left_img {
        left: 30%;
        top: 35%;
        width: 20%;
        /* max-width: 300px; */
    }

    .overlay_right_img {
        right: 25%;
        top: 30%;
    }

    .overlay_icon_img {
        right: 30%;
        width: 10%;
        top: 12%;
    }

    .grid_container_type {
        max-width: 800px;
    }

    .selection_list {
        padding: 20px 10px;
        margin: 20px 0;
        width: 400px;
    }

    .Delight_Customer h1 {
        font-size: 38px;
    }

    .youtube_video {
        max-width: 900px;
        /* height: 500px; */
        width: 80%;
    }

    .video p {
        font-size: 15px;
    }

    .responsive_icon {
        display: block;
        font-size: 35px;
        color: rgb(150, 145, 145);
        text-align: end;
    }

    .navbar {
        display: none;
    }

    nav {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1100px) {

    .grid_container2 {
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        max-width: 800px;
    }

    .grid_container2 h2 {
        font-size: 28px;
    }

    .Delight_Customer h1 {
        font-size: 28px;
    }

    .grid_container_potencial,
    .grid_container_operation,
    .digit {
        max-width: 900px;
    }
}

@media screen and (max-width: 1000px) {

    .grid_container_potencial,
    .grid_container_operation,
    .digit {
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 700px;
    }

    .section {
        gap: 18px;
    }

    .youtube_video {
        max-width: 700px;
    }

    .video p {
        font-size: 15px;
        text-align: center;
    }

    .video h1 {
        font-size: 30px;
    }

    .footer_top {
        max-width: 900px;
        gap: 50px;
    }

    .solutions {
        margin-left: 0;
    }

    .first:first-child {
        width: 700px;
    }

    .Mobile_img {
        width: 50%;
        height: auto;
    }

    .overlay_right_img {
        width: 20%;
    }

    .overlay_left_img {
        width: 30%;
        left: 15%;
    }

    .overlay_icon_img {
        right: 25%;
    }


    #myimg {
        height: 200px;
    }

    .grid_container_type h1 {
        font-size: 38px;
    }

    .selection_list {
        padding: 15px 5px;
        width: 300px;
    }
}

@media screen and (max-width: 880px) {
    .grid_container_type {
        max-width: 500px;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
    }

    .grid_container_type:last-child {
        margin-left: 80px;
    }

    #myimg {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .selection_list {
        width: 500px;
    }

    .grid_container2 {
        max-width: 670px;
    }
}

@media screen and (max-width: 800px) {

    .footer_top {
        grid-template-columns: 1fr;
    }
}